body {
    margin: 0;
}

canvas {
    width: 100%;
    display: block;
}

#game-screen {
    position: relative;
    max-width: 400rem;
}

#bar-balls-canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#message-container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#message {
    font-size: 1.4em;
    padding: 20rem;
}

.label {
    color: white;
    font-weight: bold;
    border: 5rem ridge rgb(177, 212, 179);
    background-color: rgba(9, 202, 18, 0.8);
    font-size: 70%;
    padding: 4rem;
    margin: 5rem;
    border-radius: 2rem;
}